[submodule "zsh/plugins/powerlevel10k"]
	path = zsh/plugins/powerlevel10k
	url = ssh://git@github.com/romkatv/powerlevel10k.git
[submodule "zsh/plugins/zsh-autosuggestions"]
	path = zsh/plugins/zsh-autosuggestions
	url = ssh://git@github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh/plugins/zsh-autoswitch-virtualenv"]
	path = zsh/plugins/zsh-autoswitch-virtualenv
	url = ssh://git@github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
[submodule "zsh/plugins/zsh-extract"]
	path = zsh/plugins/zsh-extract
	url = ssh://git@github.com/le0me55i/zsh-extract.git
[submodule "zsh/plugins/zsh-history-substring-search"]
	path = zsh/plugins/zsh-history-substring-search
	url = ssh://git@github.com/zsh-users/zsh-history-substring-search.git
[submodule "zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/plugins/zsh-syntax-highlighting
	url = ssh://git@github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = ssh://git@github.com/tmux-plugins/tpm.git
[submodule "tmux/plugins/tmux-sensible"]
	path = tmux/plugins/tmux-sensible
	url = ssh://git@github.com/tmux-plugins/tmux-sensible.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = ssh://git@github.com/tmux-plugins/tmux-yank.git
[submodule "tmux/plugins/tmux-net-speed"]
	path = tmux/plugins/tmux-net-speed
	url = ssh://git@github.com/tmux-plugins/tmux-net-speed.git
[submodule "tmux/plugins/tmux-continuum"]
	path = tmux/plugins/tmux-continuum
	url = ssh://git@github.com/tmux-plugins/tmux-continuum.git
[submodule "tmux/plugins/tmux-resurrect"]
	path = tmux/plugins/tmux-resurrect
	url = ssh://git@github.com/tmux-plugins/tmux-resurrect.git
